<?xml version="1.0" encoding="utf-8"?>
<configuration>
 <location>
    <system.webServer>
      <httpRedirect enabled="true" destination="https://give.ucdavis.edu/" exactDestination="true" httpResponseStatus="Permanent">
       <add wildcard="*.aspx" destination="/" />
      </httpRedirect>
    </system.webServer>
  </location>
</configuration>
